@import url(reset.css);
@import url(fonts.css);

body {
  font-family: 'Neue Hans Kendrick', sans-serif;
  font-weight: 900;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
  padding: 5px;
}
._container-g {
  max-width: 1500px;
  margin: 0 auto;
}
.body-tiles {
  display: grid;
  grid-template-rows: minmax(auto, 360px) minmax(auto, 360px) minmax(auto, 580px);
  grid-template-columns: 1fr 1fr 1fr;
  gap: 57px;
  margin-bottom: 80px;
}
.body-tiles__img {
  overflow: hidden;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}
.body-tiles__img-1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}
.instagram {
  display: grid;
  grid-template-rows: minmax(420px, auto) minmax(420px, auto);
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: rgb(26, 26, 26);
  position: relative;
  margin-bottom: 100px;
}
.instagram::after {
  content: '';
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(26, 26, 26, .75);
}
